﻿@using SolidSavings.Web.Components
@using SolidSavings.Web.Controllers
@using SolidSavings.Web.Models.Enums
@model List<SolidSavings.Web.Models.Income>

@section navigation
    {
    @await Component.InvokeAsync(typeof(NavigationViewComponent), new { state = ApplicationState.Income })
}


@section body
    {
    <div class="col-10">
        <div class="row section-title">
            <div class="offset-md-1 col-md-6">
                <h1>Przychody</h1>
            </div>
            <div class="col-md-1 offset-3">
                <a asp-action="AddIncome"
                   asp-controller="Home"
                   class="btn btn-outline-success btn-block">
                    <span class="fa fa-plus-circle"></span> Dodaj
                </a>
                <a asp-action="ListIncomes"
                   asp-controller="Home"
                   class="btn btn-outline-success btn-block">
                    <span class="fa fa-list"></span> Lista
                </a>
            </div>
        </div>
        <div class="row section-subtitle">
            <div class="offset-md-1 col-md-6">
                <h3>Tutaj jest lista twoich przychodów.</h3>
            </div>
        </div>
        <div class="row section-body">
            <div class="col-md-10 offset-md-1">
                <div class="progress" style="height: 50px">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">15%</div>
                    <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                    <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h3>Historia przychodów</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <canvas id="myChart" style="height: 300px;"></canvas>
            </div>
        </div>
    </div>
}

@section scripts
    {
    <script src="~/lib/chart.js/dist/Chart.js"></script>
    <script type="text/javascript">
        var chartModel = @Json.Serialize(Model);
        var labels = chartModel.map(function(x) { return x.month + ' ' + x.year; });
        var data = chartModel.map(function(x) { return x.netto });
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx,
            {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Netto',
                            data: data,
                            borderWidth: 2
                        }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [
                            {
                                ticks: {
                                    beginAtZero: true
                                }
                            }
                        ]
                    },
                    legend: {
                        display:false
                    },
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
    </script>
}
