﻿@using SolidSavings.Web.Components
@using SolidSavings.Web.Models.Enums
@model SolidSavings.Web.Models.LoginDto
@section navigation
    {
    @await Component.InvokeAsync(typeof(LoginLogoViewComponent))
}
@section body
    {
    <div class="col-10">
        <div class="row section-title">
            <div class="offset-1 col-6">
                <h1>Logowanie</h1>
            </div>
        </div>
        <div class="row section-subtitle">
            <div class="offset-1 col-6">
                <h3>Aby zacząć działać z aplikacją zaloguj się wcześniej</h3>
            </div>
        </div>
        <div class="row ">
            <div class="col-5 offset-1">
                <form asp-action="Login" asp-controller="User" method="post">
                    <div class="form-group">
                        <label for="Username">Nazwa użytkownika</label>
                        <input asp-for="Username" type="text" id="Username" class="form-control" placeholder="Nazwa użytkownika">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-primary pull-right" name="Action" value="@LoginActionType.Login">Zaloguj</button>
                    </div>

                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-5 offset-1">
                <a asp-action="Register" asp-controller="User" class="pull-right">Nie masz jeszcze konta? Zarejestruj się.</a>
            </div>
        </div>
    </div>
}
